<p ng-if="vm.favorites.list.length == 0">You have no favorites yet! Head over to the books tab to add some.</p>
<div layout="row">
    <div class="box" ng-repeat="favorite in vm.favorites.list">
        <img ng-src="{{favorite.image_url}}" alt="">
        <h3>{{favorite.title}}</h3>
        <h4>{{favorite.author}}</h4>
        <p>{{favorite.genre_name}}</p>
        <p>Published: {{favorite.publication_date}}</p>
        <p ng-if="favorite.number_of_pages == 1">{{favorite.number_of_pages}} page</p>
        <p ng-if="favorite.number_of_pages != 1">{{favorite.number_of_pages}} pages</p>
        <md-button class="md-button md-primary md-raised" ng-if="favorite.favorite" ng-click="vm.favoriteBook(favorite.id)">
            <i class="material-icons">favorite</i>
        </md-button>
        <md-button class="md-button md-primary md-raised" ng-if="!favorite.favorite" ng-click="vm.favoriteBook(favorite.id)">
            <i class="material-icons">favorite_border</i>
        </md-button>
        <md-button class="md-button md-primary md-raised" ng-click="vm.deleteBook(favorite.id)">
            <i class="material-icons">delete</i>
        </md-button>
    </div>
</div>