<form>
    <md-input-container>
        <label for="vm.newGenre.genre_name">Add a Genre</label>
        <input type="text" ng-model="vm.newGenre.genre_name" />
    </md-input-container>

    <md-input-container>
        <input class="md-button md-primary md-raised" type="submit" ng-click="vm.addGenre(vm.newGenre)" />
    </md-input-container>

</form>

<table>
    <thead>
        <tr>
            <th>Genre</th>
            <th>Total Books</th>
            <th>Delete?</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="genre in vm.genres.list">
            <td>{{genre.genre_name}}</td>
            <td>{{genre.count}}</td>
            <td>
                <md-button class="md-button md-primary md-raised" ng-click="vm.deleteGenre(genre)">Delete</md-button>
            </td>
        </tr>
    </tbody>
</table>